<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="711" height="364" border="1">
    <tr>
      <th colspan="4" scope="row">VIEW COURSE</th>
    </tr>
    <tr>
      <th width="124" scope="row">Slno#</th>
      <td width="142">TITLE</td>
      <td width="326">DESCRIPTION</td>
      <td width="91">&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ i.title }}</td>
      <td>{{ i.description }}</td>
      <td>
          <p><a href="/add_to_offered_list/{{ i.id }}">ADD TO OFFERED LIST</a> </td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
